<%- include('partials/header') %>
<body>
    <section>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6 mt-5">
                    <p class="title">WELCOME TO BARANGAY IV DAET CAMARINES NORTE</p>
                    <div class="context">
                        <p>Mantagbac Daet Camarines Norte</p>
                        <p>Open hours of barangay: Monday to Friday (8:00AM - 5:00PM)</p>
                        <p>Email: barangaymantagbac@gmail.com</p>
                    </div>
                    <div class="mt-4">
                        <a href="/employer" class="btn mr-4">For Employer</a>
                        <a href="/employee" class="btn">For Employee</a>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="/img/asset.png" class="img-fluid logo">
                </div>
            </div>
        </div>
    </section>

    <section>
    
    </section>
</body>