@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


header {
    background-color: #4992B1;
}

body {
    background-color: #DAEBFE;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}


.navbar-nav .nav-item {
    margin-right: 15px; /* Adjust the value as needed */
}

.navbar-nav .nav-item:last-child {
    margin-right: 0; /* No margin for the last item */
}

.title {
    font-size: 42px;
    font-weight: bold;
    color: #676767;
    line-height: 55px;
}

.context {
    color: #676767;
    font-size: 16px;
}

.btn {
    color: white;
    background-color: #4992B1;
    align-items: center;
    width: 180px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
}


.footer {
    background-color: #4992B1;
    color: white;
    text-align: center;
}

.login-box {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.bg-color{
    background-color: white;
}





/* Responsive Styles */
@media (max-width: 767.98px) {
    .title {
        font-size: 32px;
        line-height: 40px;
        text-align: center;
    }
    .context {
        font-size: 14px;
        text-align: center;
    }
    .btn {
        width: 100%;
        margin: 5px 0;
    }
    .col-md-6 {
        width: 100%;
        margin-top: 20px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
}